<a href="https://colab.research.google.com/github/pingkivila/DigitalSkola_DataScience11/blob/main/Database_Programming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Database Programming**

created by Ari Sulistiyo Prabowo


This notebook is created to teach student about dataframe advanced level. All the code is free to reuse by everyone.

**Contents**
1. Text file in python
  - Writing text file
  - Reading text file
  - Appending text file
3. Connect database postgre in Python
4. Query and exercise in Python

___

In [ ]:
#import library
import psycopg2
import pandas as pd
from openpyxl import Workbook, load_workbook

import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

/usr/local/lib/python3.7/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

## Text File in Python

### Writing text

In [ ]:
# Writing text in python
with open('untitled.txt', 'w') as writer:
  writer.write('Welcome back to my channel')

In [ ]:
with open('untitled.txt', 'r') as reader:
    print(reader.readlines())

['Welcome back to my channel']

### Reading and Appending text in python

In [ ]:
path = "/content/drive/MyDrive/Data Ari Gmail/Data_Ari/Data_Science/Digital Skola/Indonesia Version/Database Programming/saham.txt"

In [ ]:
text_file = open(path)
text_file

In [ ]:
# reading all text in file text
with open(path, 'r') as text_file:
  print(text_file.readlines())

['Saham (stock) merupakan salah satu instrumen pasar keuangan yang paling popular. Menerbitkan saham merupakan salah satu pilihan perusahaan ketika memutuskan untuk pendanaan perusahaan. Pada sisi yang lain, saham merupakan instrument investasi yang banyak dipilih para investor karena saham mampu memberikan tingkat keuntungan yang menarik.\n', '\n', 'Saham dapat didefinisikan sebagai tanda penyertaan modal seseorang atau pihak (badan usaha) dalam suatu perusahaan atau perseroan terbatas. Dengan menyertakan modal tersebut, maka pihak tersebut memiliki klaim atas pendapatan perusahaan, klaim atas asset perusahaan, dan berhak hadir dalam Rapat Umum Pemegang Saham (RUPS)\n', 'Digital Skola Batch 11\n', 'I will work as a data professional\n', 'Digital Skola Batch 11']

In [ ]:
# reading file and separate each line by add end = ""
with open(path, 'r') as text_file:
  for line in text_file:
    print(line, end="")

Saham (stock) merupakan salah satu instrumen pasar keuangan yang paling popular. Menerbitkan saham merupakan salah satu pilihan perusahaan ketika memutuskan untuk pendanaan perusahaan. Pada sisi yang lain, saham merupakan instrument investasi yang banyak dipilih para investor karena saham mampu memberikan tingkat keuntungan yang menarik.

Saham dapat didefinisikan sebagai tanda penyertaan modal seseorang atau pihak (badan usaha) dalam suatu perusahaan atau perseroan terbatas. Dengan menyertakan modal tersebut, maka pihak tersebut memiliki klaim atas pendapatan perusahaan, klaim atas asset perusahaan, dan berhak hadir dalam Rapat Umum Pemegang Saham (RUPS)
Digital Skola Batch 11
I will work as a data professional
Digital Skola Batch 11

In [ ]:
# appending text into the existing file
with open(path, 'a') as text_file:
  text_file.write("\nDigital Skola Batch 11")

In [ ]:
# show the result
with open(path, 'r') as text_file:
  for line in text_file:
    print(line, end="")

Saham (stock) merupakan salah satu instrumen pasar keuangan yang paling popular. Menerbitkan saham merupakan salah satu pilihan perusahaan ketika memutuskan untuk pendanaan perusahaan. Pada sisi yang lain, saham merupakan instrument investasi yang banyak dipilih para investor karena saham mampu memberikan tingkat keuntungan yang menarik.

Saham dapat didefinisikan sebagai tanda penyertaan modal seseorang atau pihak (badan usaha) dalam suatu perusahaan atau perseroan terbatas. Dengan menyertakan modal tersebut, maka pihak tersebut memiliki klaim atas pendapatan perusahaan, klaim atas asset perusahaan, dan berhak hadir dalam Rapat Umum Pemegang Saham (RUPS)
Digital Skola Batch 11
I will work as a data professional
Digital Skola Batch 11
Digital Skola Batch 11

## Connect SQL in Python

In [ ]:
conn = psycopg2.connect(
          host = "digitalskoladb.c04me33o8tni.ap-southeast-1.rds.amazonaws.com",
          database = "sandbox",
          user = "adminDigital",
          password = "ABjEKEMzG9eEHN2QWRatWBUX")

In [ ]:
cur = conn.cursor()

In [ ]:
sql = """SELECT * FROM batch_11.cb_stations"""
station = pd.read_sql_query(sql, conn)
station.head()

   station_id  ... last_reported
0         128  ...    1970-01-01
1         224  ...    1970-01-01
2         229  ...    1970-01-01
3         410  ...    1970-01-01
4         434  ...    1970-01-01

[5 rows x 18 columns]

In [ ]:
sql = """WITH TABS AS
              (SELECT *
               FROM batch_11.cb_trips
               where gender = 0 and tripduration = 634)
               
         SELECT *
         from TABS"""
data = pd.read_sql_query(sql, conn)
data.head()

   tripduration           starttime  ... birth_year  gender
0           634 2013-07-04 13:55:26  ...          N       0
1           634 2013-07-04 14:02:00  ...          N       0
2           634 2013-07-04 16:01:16  ...          N       0
3           634 2013-07-04 17:36:39  ...          N       0
4           634 2013-07-05 08:17:55  ...          N       0

[5 rows x 15 columns]

In [ ]:
sql = """WITH TABS AS
              (SELECT b.tripduration, a.name as station_name, b.starttime
               FROM batch_11.cb_stations as a
               JOIN batch_11.cb_trips as b
               on a.station_id = b.end_station_id)
               
         SELECT station_name, sum(tripduration) as total_trip_duration
         from TABS
         where station_name like '%Clermont%'
         group by 1
         having sum(tripduration) < 3000000
         """
data2 = pd.read_sql_query(sql, conn)
data2.head(7)

                   station_name  total_trip_duration
0  Clermont Ave & Lafayette Ave               760813
1       Clermont Ave & Park Ave               332556
2      Fulton St & Clermont Ave               860286

In [ ]:
# How many start_station used the most? sort in descending
data_start_sta = data['start_station_name'].value_counts().rename_axis('Start_Station').reset_index(name='counts')

data_start_sta.head()

              Start_Station  counts
0           8 Ave & W 31 St       4
1           1 Ave & E 18 St       3
2          W 20 St & 11 Ave       3
3            West Thames St       3
4  Cleveland Pl & Spring St       3

In [ ]:
data_start_sta.shape

(88, 2)

In [ ]:
sql = """WITH TABS AS
              (SELECT *
               FROM batch_11.cb_trips
               where lower(end_station_name) like '%broadway%' and tripduration <= 500)
               
         SELECT *
         from TABS"""
data3 = pd.read_sql_query(sql, conn)
data3.head()

   tripduration           starttime  ... birth_year  gender
0           491 2013-07-03 20:47:16  ...       1974       1
1           157 2013-07-03 20:49:51  ...       1995       1
2           453 2013-07-03 20:56:00  ...       1965       1
3           240 2013-07-03 20:57:57  ...       1982       1
4           212 2013-07-03 20:58:25  ...       1985       2

[5 rows x 15 columns]

In [ ]:
# Show the proportion of usertype
exercise2 = data3['usertype'].value_counts().rename_axis('usertype').reset_index(name='counts')

fig = px.pie(exercise2, values='counts', names='usertype')
fig.show()

In [ ]:
sql_script =  """
              select *
              from batch_11.cb_trips ct
              where ct.gender = 0 and ct.tripduration = 634
              """

data_challenge_1 = pd.read_sql_query(sql_script, conn)
data_challenge_1.head()

station = data_challenge_1['start_station_name'].value_counts()

df_station = pd.DataFrame(station)
df_station.reset_index(inplace=True)
df_station.rename(columns={'index':'start_station', 'start_station_name':'total'}, inplace=True)
df_station

              start_station  total
0           8 Ave & W 31 St      4
1       St Marks Pl & 2 Ave      3
2          W 20 St & 11 Ave      3
3            West Thames St      3
4           E 40 St & 5 Ave      3
..                      ...    ...
83          9 Ave & W 14 St      1
84      Washington Square E      1
85        E 5 St & Avenue C      1
86  Harrison St & Hudson St      1
87         11 Ave & W 27 St      1

[88 rows x 2 columns]

## Homework

In [ ]:
sql = """WITH TABS AS
              (SELECT a.region_id, a.rental_methods, b.tripduration, a.name as station_name
               FROM batch_11.cb_stations as a
               JOIN batch_11.cb_trips as b
               on a.station_id = b.end_station_id)
               
         SELECT *
         from TABS
         where tripduration > 86400
         """
data4 = pd.read_sql_query(sql, conn)
data4.head(7)

   region_id  rental_methods  tripduration                  station_name
0         71  CREDITCARD,KEY        118257            Kent Ave & S 11 St
1         71  CREDITCARD,KEY        159004      Fulton St & Clermont Ave
2         71  CREDITCARD,KEY       6250750           FDR Drive & E 35 St
3         71  CREDITCARD,KEY         93452         Forsyth St & Canal St
4         71  CREDITCARD,KEY         90965        Leonard St & Church St
5         71  CREDITCARD,KEY        601177  Willoughby Ave & Walworth St
6         71  CREDITCARD,KEY        332510               W 42 St & 8 Ave

In [ ]:
pd.pivot_table(data4, values='tripduration', index=['rental_methods','station_name'], 
               columns='region_id', aggfunc='mean')

region_id                                           71
rental_methods station_name
CREDITCARD,KEY 12 Ave & W 40 St                97014.0
               8 Ave & W 33 St                217948.0
               9 Ave & W 45 St                350865.0
               Atlantic Ave & Furman St       120336.0
               Bedford Ave & S 9 St            99181.0
               Broadway & W 56 St              88411.0
               Broadway & W 58 St             167992.0
               Columbia St & Rivington St     145506.0
               E 3 St & 1 Ave                 100848.0
               FDR Drive & E 35 St           6250750.0
               Forsyth St & Canal St           93452.0
               Franklin Ave & Myrtle Ave      409415.0
               Fulton St & Clermont Ave       159004.0
               Hancock St & Bedford Ave       102653.5
               Kent Ave & S 11 St             118257.0
               Lafayette St & E 8 St          124456.0
               Lawrence St & Willoughby St    113089.0
               Leonard St & Church St          90965.0
               Old Fulton St                  730955.0
               S 5 Pl & S 5 St                109207.0
               W 17 St & 8 Ave                 88057.0
               W 42 St & 8 Ave                332510.0
               W 44 St & 5 Ave                104368.0
               Willoughby Ave & Walworth St   601177.0